body {
  margin: 0;
  background-image: url("signup.jpg");
}
input,
button {
  display: block;
  margin-bottom: 10px;
  width: 95%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: SlateBlue;
  color: white;
  border: none;
  cursor: pointer;
  width: 101%;
}
